.sidebar li.active {
    background-color: lightskyblue;
    color: white;
    font-family: 'Inter';
    font-size: 19px;
  }

.sidebar{
    background-color: #FFFFFF;
}



.content {
    background-color: #F9F9F9;
}

.container {
    background-color: #FFFFFF;
    border: 3px solid #0099ff;

    padding: 34px 19px;
    margin: 14px 19px;
    border-radius: 23px;
    width: 25%;
    height: 25%;
}

.container ul{
    list-style-type: none;
}

.container ul li{
    margin: 2px;
}

.agent_b {
    width: 100%;
    height: 45px;
    background-color: #0099ff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-top: 40%;
    margin-bottom: 0;
}


.error_message
{
    color: red;
    text-align: center;
    margin-bottom: 2%;
}

h4{
    font-family: 'Roboto';
    font-size: 28px;
    text-align: left;
    margin-left: 5%;
 }

h2 {
    font-family: 'Roboto';
}

.container {
    font-family: 'Roboto';
}

img {
    width: 40px;
    height: 40px;
    margin-left: 1%;
    border-radius: 50%;
  }

  a:hover {
    text-decoration:underline;
    }

.logout_b{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-bottom: 10%;
    background-color: lightgray;
    display: inline-block;
    object-fit: cover; 
    position: fixed;
    bottom: 3%;
}

.logout-nav{
    position: fixed;
    bottom: 3%;
    width: 20%;
    width: 250px;
    height: 70px;
    background: lightgray;
    border-radius: 40px;
    display: inline-block;
    object-fit: cover;
}